/* Global Variables & Values */

h1, h2, h3, h4, h5, h6 {
	text-transform:uppercase;
}

// Header Styles

.top-header {
  font-size: 0.85em;
  color: #bbb !important;
  a {
  	color:#bbb;
  	text-decoration: underline;
  }
  @media(max-width:640px){
	font-size: 0.8em;
	text-align: center;
  }
}

#site-logo {
	max-width:360px;
	@media(max-width:800px){
		max-width: 250px;
	}
	@media(max-width:640px){
		max-width: 205px;
	}
}

.widget-container.blvd-responsive-menu {
  ul li a {
  	letter-spacing: 1px;
  }
  .active a,
  ul li.active a
  ul li a:hover {
  	border-bottom:solid 2px $brand-primary;
  }
  @media(min-width:1200px){
  	margin: 62px 0 0 0 !important;
  }
}

.blvd-logo .navbar-toggle {
	margin-top:20px !important;
}

.navbar {
	margin-bottom:0 !important;
}

.contactinfo-header {
	position:right;
	top:55px;
	right:75px;
	width:450px;
	position:absolute;
	text-align:right;
	color:#999;
	letter-spacing:1px;
	font-size:0.85em;
	font-family:'Muli';
	text-transform:uppercase;
}




// Homepage


.blvd-upper-homewidgets {
	h3 {
		font-size: 2.8em;
		margin-top:55px;
		@media(max-width:580px){
			font-size: 2em;
		}
	}
	h4 {
		font-size: 1.7em;
		margin-bottom: 15px;
		@media(max-width:580px){
			font-size: 1.4em;
		}
	}
	.buttonoutline {
		display: inline-block;
		text-align: center;
		margin:10px auto;
		border:solid 2px rgba(0,0,0,0.3);
		color:rgba(0,0,0,0.7);
		padding:15px 45px;
	}
	.quick-search-widget-wrapper {
		background:none;
		border:none;
		text-align: left;
	}
}

.blvd-middle-homewidgets {
	h3 {
		font-size: 2.8em;
		margin-top:70px;
		@media(max-width:580px){
			font-size: 2em;
		}
	}
	img {
		margin-bottom:-50px;
		margin-top:60px;
		@media(max-width:580px){
			margin-top:30px;
		}
	}
}

.blvd-bottom-homewidgets {
	margin-top:-25px;
	h2 {
		font-size: 2.8em;
		padding:10px;
		border-bottom:dotted 1px rgba(0,0,0,0.1);
		text-align:center;
		margin-bottom: 20px;		
		@media(max-width:580px){
			font-size: 2.4em;
		}
	}
	h3 {
		font-size: 1.7em;
		padding:10px 0;
		text-align:left;
		margin-bottom: 20px;
	}
	p {
		line-height:1.8em;
		padding:10px 0;
	}
	.buyer-seller-top {
		margin: 10px 0 25px 0;
		padding:0;
		li {
			font-size: 1.7em;
			display: block;
			clear:both;
			margin:7px 0;
			font-family: 'Muli';
			@media(max-width:640px){
				font-size: 1.5em;
			}
			@media(max-width:500px){
				font-size: 1.3em;
			}
			@media(max-width:375px){
				font-size: 1.15em;
			}
		}
		li:before {
			content: '\f046';
			font-family: 'FontAwesome';
			font-size: 1.2em;
			color: $brand-primary;
			float: left;
			padding-right:10px;

		}
	}
	.buyer-seller-bottom {
		margin:0;
		padding:0 15px;
		li {
			font-size: 1em;
			list-style: bullet;
			margin:7px 0;
		}
	}
}


.bottom-homepage-testimonials {
	background:#cad1d5;
	padding:30px 50px;
	text-align:center;
	@media(max-width:640px){
		padding:30px !important;
	}
	h3 {
		font-size: 2.5em;
		padding:10px;
		color:#fff;
		text-align:center;
		margin-bottom: 15px;
		@media(max-width:640px){
			font-size: 2em;
		}
	}
	blockquote {
		border:none;
		font-size: 1.3em;
		font-style: italic;
		padding:0 75px !important;
		@media(max-width:640px){
			padding:0 50px !important;
			font-size: 0.9em;
		}
	}
	footer {
		color:#fff !important;
		text-align:center !important;
		font-size:1.2em !important;
		padding-bottom:25px !important;
	}
}

.home-box {
	margin-top:70px;
	@media(max-width:760px){
		margin:20px auto;
	}
	img {
		margin:0 auto;
	}
}
.home-box:hover {
	cursor:pointer;
	img {
		opacity: 0.8;
	}
}

.homepage-parallax {
	background:url('#{$home_widget_parallax}');
	background-position: top center;
	background-attachment: fixed;
	background-size: cover; 
	width:100%; 
	display:block;
	text-align:center;
	margin:50px auto;
	padding:45px 0 20px 0;
	h3 {
		color:#fff;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
		margin:25px auto 0 auto;
		padding-bottom:20px;
		font-size: 3em;
		@media(max-width:640px){
			font-size: 2em;
		}
	}
	a {
		display: inline-block;
		text-align: center;
		margin:30px auto;
		border:solid 2px rgba(255,255,255,0.9);
		color:#fff;
		padding:15px 45px;
	}
}




// Footer

#footer {
	text-align:center;
	.sub-menu {
		display:none;
	}
	.social-link {
	  border: 2px solid $brand-primary;
	  font-size: 2em;
	  margin: 10px;
	  padding: 10px;
	}
	.nav {
		margin:50px 0 30px 0;
		li {
			float:none;
			display: inline-block;
			margin:5px;
			a {
				display: block;
			}
		}
	}
	.navbar-brand {
	  float: none;
	}
	.blvd-logo {
		border-bottom:solid 1px #ddd; 
		padding:15px 0;
	}
	.footer-links {
		margin:20px auto;
		padding:0;
		li {
			list-style: none;
			display: inline;
			float:none;
			margin:10px;
			img {
				opacity: 0.5;
				transition: all 0.5s ease;
				max-width: 100px;
				max-height: 50px;
				@media(max-width:640px){
					max-width: 75px;
					max-height: 40px;
				}
			}
			img:hover {
				opacity: 1;
			}
		}
	}
	form {
		max-width: 1024px;
		margin:20px auto 40px auto;
		text-align: left;
		.footer-form-left {
			width:48%;
			float:left;
			clear: left;
			margin:10px 0;
			@media(max-width:580px){
				width:100%;
			}
		}
		.footer-form-right {
			width:48%;
			float:right;
			margin:-147px 0 0 0;
			@media(max-width:580px){
				width:100%;
				margin:15px 0 0 0;
			}
		}
		.button {
			font-size:1em;
			font-family: 'Muli';
			font-weight: bold;
			padding:15px 35px;
		}
		.gform_footer {
			text-align: center;
		}
	}	
	#text-6 {
		h3 {
    		font-size: 2.4em;
    		font-weight: bold;
    		@media(max-width:640px){
				font-size: 1.8em;
			}
		}
	}
}

#copyright {
	padding:20px 0;
}



// SVG Map

.map-wrap {
    padding:40px 60px 0 60px;
    width:100%;
    @media(max-width:580px){
		padding:40px 25px 0 25px;
	}
	@media(max-width:375px){
		padding:40px 0 0 0;
	}
}

.svg-wrap {
	width:47%;
	float:left;
	img {
		margin-top:70px;
	}
	@media(max-width:991px){
		width: 100%;
		padding:20px;
	}
}

.map-content {
	text-align:center;
	float:right;
	width:50%;
	padding:30px;
	margin:0;
	position:relative;
	h3 {
		font-size: 2.2em;
		color:#fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		border-bottom:dotted 1px rgba(255,255,255,0.2);
		padding:15px 0;
		margin:15px auto 25px auto;
		@media(max-width:580px){
			font-size: 2em;
		}
	}
	@media(max-width:991px){
		width: 100%;
		padding:20px;
	}
}

.map-links {
	margin:25px auto 10px auto;
	padding:0;
	a:before {
		float:left;
		padding-right:10px;
		content: '\f041';
		font-family: 'FontAwesome';
		color:$brand-primary;
		font-size: 1.2em;
		margin-top:-2px;
	}
	a {
		color:#fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		width: 49.5%;
		float: left;
		margin:0.25%;
		text-transform: uppercase;
		font-size: 1.2em;
		text-align: left;
		font-family:'Muli', sans-serif;
		padding:10px;
		background:rgba(0,0,0,0.2);
		@media(max-width:800px){
			font-size: 1.1em;
		}
		@media(max-width:700px){
			font-size: 1em;
		}
		@media(max-width:600px){
			font-size: 0.9em;
		}
		@media(max-width:375px){
			font-size: 0.8em;
		}
	}
	a:hover {
		color:$brand-primary;
		text-decoration: none;
		background:rgba(0,0,0,0.35);
	}
}

.hovered {
	color:$brand-primary;
    g {
    	fill:#fff;
    }
}

svg g polygon,
svg g path,
svg g image,
.map-links a {
    transition:all 0.3s ease;
}

svg a:hover g, 
svg a g:hover {
  cursor: pointer;
}

.homepagepush {
	margin-top:620px;
}


// Single Agent Page

.single-agent .contact-info {
  width: 75%;
  @media(max-width:1000px){
      width:100%;
  }
}

.calls2action .btn.btn-primary {
  display: block;
  margin: 25px auto -10px !important;
}

.single-agent .agent-contact-info {
    font-size:0.9em;
}

.single-agent .agent-contact-info .agent-tabs {
  margin: 25px 0;
}

.agents-row.col-3 {
  display: inline;
}

.agents-archive .agent-data {
  min-height: 140px;
  @media(max-width:1024px){
      width:48% !important;
  }
  @media(max-width:480px){
      width:98% !important;
      clear:both !important;
  }
}




// Injections!

p {
    font-weight:300 !important;
}

.bottom-homewidgets-wrapper {
    margin:0 auto;
    padding:30px;
    img {
    	margin-bottom:15px;
    }
}